<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.myucla.classplanner.monitor</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/harryyu/Applications/myucla_tracker/run_monitor.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/harryyu/Applications/myucla_tracker/monitor.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/harryyu/Applications/myucla_tracker/monitor.err</string>
</dict>
</plist>
