<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.myucla.classsearch.monitor</string>
    
    <key>Program</key>
    <string>/Users/harryyu/Applications/myucla_tracker/run_monitor_classsearch.sh</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/harryyu/Applications/myucla_tracker/monitor_classsearch.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/harryyu/Applications/myucla_tracker/monitor_classsearch.err</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/harryyu/Applications/myucla_tracker</string>
</dict>
</plist>
